.App {
  text-align: center;
  display: flex;
  background-color: aquamarine;
  max-width: 100%;
  flex-flow: row wrap;
}

.App-header {
  background-color: #282c34;
}

.animal-container {
  display: flex;
  background-color: red;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: 2vh;
  padding: 1vh;
  height: 400px;
  max-width: 35vh;
  border-radius: 5%;
}

.images {
  width: 35vh;
  height: 200px;
}
